@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Mulish:wght@500;700&display=swap");
html {
  font-family: "Krona One", sans-serif;
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(250 250 250);
}

input[type="file"]::file-selector-button {
  display: none;
}
input[type="file"] {
  width: 100%;
}
.yellow-btn {
}
/* Fixses Date Picker Popper */
div[data-floating-ui-portal] > div {
  z-index: 99 !important;
}
