@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins-light;
  src: url(../../public/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-med;
  src: url(../../public/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: outfit;
  src: url(../../public/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: giga;
  src: url(../../public/fonts/Locomotype\ \ GigaSansMedium.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: giga;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00c1a2;
}

* {
  scrollbar-color: #00c1a2;
}
/* body {
  background-color: rgb(250 250 250);
} */
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}
input[type="file"]::file-selector-button {
  display: none;
}
input[type="file"] {
  width: 100%;
  margin-left: 10px;
}
.bg-cards-container {
  background-image: url("../../public/assets/images/bg-cards.png");
  background-position: center top;
  background-size: contain;
  background-repeat: repeat-y;
}
.ellipsis-text {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}
.image-animated {
  @apply opacity-90 hover:opacity-100 hover:scale-[1.05] hover:rotate-1  transition-all duration-300 ease-in-out;
}
.header-1 {
  @apply text-4xl md:text-5xl lg:text-6xl  font-bold !leading-[120%];
}
.header-2 {
  @apply text-3xl md:text-4xl lg:text-5xl  font-bold;
}
.header-3 {
  @apply text-xl md:text-2xl lg:text-3xl  font-bold;
}
.header-3Green {
  @apply text-xl md:text-2xl lg:text-3xl text-lightGreen font-bold pb-10;
}
.header-4 {
  @apply text-lg md:text-xl lg:text-2xl  font-bold;
}
.sub-header {
  @apply text-base md:text-lg lg:text-xl text-basicgray;
}
.white-subheader {
  @apply text-base md:text-lg lg:text-xl text-white;
}
.btn-primary {
  @apply bg-lightGreen hover:bg-[#f0bd07] shadow-lg text-white lg:px-6 lg:py-3  text-base pt-4 pb-2 px-4 rounded-md text-center cursor-pointer transition-all duration-300 ease-in-out;
}
.btn-secondary {
  @apply text-lightGreen hover:text-hoverLightGreen border-2 shadow-lg lg:px-6 lg:py-3 border-lightGreen hover:border-hoverLightGreen cursor-pointer text-base pt-4 pb-2 px-4 rounded-md text-center transition-all duration-300 ease-in-out;
}
.btn-tertiary {
  @apply bg-white  hover:bg-[#f0bd07]  text-black shadow-lg  pt-4 pb-2 px-4 lg:px-6 lg:py-3 rounded-md text-center cursor-pointer transition-all duration-300 ease-in-out;
}
.btn-transpernt {
  @apply color-green hover:bg-[#00c1a1a9] hover:text-white lg:px-6 lg:py-4 px-2 py-1 rounded-md shadow-md font-medium text-base pt-4 pb-2 text-center cursor-pointer transition-all duration-300 ease-in-out;
}
.color-green {
  @apply text-[#00c1a2];
}
.bg-green {
  @apply bg-[#00c1a2];
}

.color-grey {
  @apply text-[#8a8a8a] text-base;
}
.color-yellow {
  @apply text-[#f0bd07];
}
.bg-yellow {
  @apply bg-[#f0bd07];
}
.bg-yellow-light {
  @apply bg-[#f5d20e41];
}
.bgc-green {
  @apply bg-[#00c1a2];
}
.custom-white-button {
  @apply bg-white text-basicgray border-2 cursor-pointer font-bold text-base pt-4 pb-2 px-4 rounded text-center transition-all duration-300 ease-in-out;
}

@keyframes moveCircle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveCircle2 {
  0% {
    transform: rotate(0deg) translate(150px);
  }
  100% {
    transform: rotate(360deg) translate(150px);
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.border-12 {
  border-radius: 12px !important;
}
